anyio==3.6.2
APScheduler==3.9.1
args==0.1.0
array2==0.1
asttokens==2.1.0
autopep8==2.0.1
backcall==0.2.0
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
colorama==0.4.6
comm==0.1.0
contourpy==1.0.5
csv23==0.3.4
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
emoji==2.1.0
entrypoints==0.4
executing==1.2.0
exesexe==1.0.1
factorial-EIP==1.0
fonttools==4.38.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
ipykernel==6.18.0
ipython==8.6.0
isOdd==0.1.2
jedi==0.18.1
json2json==0.1.0
jupyter_client==7.4.7
jupyter_core==5.0.0
kiwisolver==1.4.4
kwargs==1.0.1
math2==0.0.2.dev3
matplotlib==3.6.2
matplotlib-inline==0.1.6
mpmath==1.2.1
nest-asyncio==1.5.6
numpy==1.23.4
packaging==21.3
pandas==1.5.1
parso==0.8.3
penguins==0.5.1
period-iterator==1.2.5
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==2.5.4
progress==1.6
prompt-toolkit==3.0.33
psutil==5.9.4
pure-eval==0.2.2
pycodestyle==2.10.0
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
Python-Package-tutorial==1.0.1
python-telegram-bot==20.0a4
pytz==2022.5
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pyzmq==24.0.1
requests==2.28.1
rfc3986==1.5.0
scipy==1.10.0
seaborn==0.12.1
six==1.16.0
sniffio==1.3.0
sns==0.1
solvers==0.6
stack-data==0.6.1
star-array==1.0
static-variables==0.0.5
stats==0.1.2a0
sympy==1.11.1
tornado==6.2
traitlets==5.5.0
tzdata==2022.5
tzlocal==4.2
urllib3==1.26.12
wcwidth==0.2.5